Jupyter notebook file extension-->.ipynb

Run code--> shift+enter / ctrl +enter

## Python Fundamentals

**Basics in Python**

- Comments

- Variable

+ Keywords

* Constant

**Data types**

**Operators**

**Conditional statements & Looping strucutures**

**Data Structures**

#### Comments

#### Variable

### pep 8 documentation

- Variable name should not start with digit.
- Variable name should not contain any special symbols except '_'

- Python is case sensitive
- Python index starts from 0.

#### Keywords

#### Constant

In [ ]:
# create variable

In [ ]:
# create multiple variables in a single line of code

In [ ]:
# assign same value to multiple variables

In [ ]:
# output

In [ ]:
# output: The value of b is 23

In [ ]:
# output: The value of c is 78 and d is 11

#### Data types

- numeric (int, float)
- bool
- complex
- string

In [ ]:
## add integer value and float value then check data type

In [ ]:
F=23.67543
# round it into 2 decimal places

In [ ]:
# round(value, no of decimal places)

#### input() function

# using input()--> Take input as integer value 5 to x and convert it into float data type
               --> Take input as char/string value'abc' to s
               --> Take input as float value 3.23490 to y and print the output as 3 decimal places.

In [ ]:
var_1= int(input())
var_2=int(input())
# Find the sum of var_1 and var_2

In [ ]:
# add integer and string object
# add 7 to var_1

In [ ]:
### Take multiple integer /float inputs using input()

#### Statements and Expressions

An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
– An Expression always evaluates (calculate) to itself.

 z = x + y
In the above example = and + are operators.

So, x + y is an expression.
Any Instruction that a python interpreter can execute (carry out) is called a Statement.

#### Whitespace

### Operators 

Operators are used to perform operations on variables and values.OPERATORS: Are the special symbols. Eg- + , * , /, etc.

- Arithmetic operators
- Bitwise operators
- Boolean operators
- Assignment operators
- Relational operators
- Operators precedence

#### Arithmetic operators

Operator	Description	Syntax
+	          Addition: adds two operands	x + y
–	          Subtraction: subtracts two operands	x – y
*	          Multiplication: multiplies two operands	x * y
/	          Division (float): divides the first operand by the second	x / y
//	          Division (floor): divides the first operand by the second	x // y
%	          Modulus: returns the remainder when the first operand is divided by the second	x % y
**	          Power: Returns first raised to power second	x ** y

#### Relational operators

Operator	                             Description	                                      Syntax
<	                               Less than: True if the left operand is less than the right	x < y
==	                               Equal to: True if both operands are equal	                x == y
!=	                               Not equal to – True if operands are not equal	            x != y
>=	                               Greater than or equal to: True if left operand is            x >= y
                                     greater than or equal to the right

#### Boolean operators
The logical operators and, or and not are also referred to as boolean operators

Operator	             Description	                                              Example
and	             Returns True if both statements are true	                     x < 5 and x < 10
or	             Returns True if one of the statements is true	                 x < 5 or x < 4
not	             Reverse the result, returns False if the result is true 	     not(x < 5 and x < 10)

PRECEDENCE:

P – Parentheses
E – Exponentiation
M – Multiplication     (Multiplication and division have the same precedence)
D – Division
A – Addition     (Addition and subtraction have the same precedence)
S – Subtraction

##### 1.Swapping two numbers
X=67
Y=89

#### 2. Find the area and circumferene of a circle for a given radius.
Take input as radius

##### 3. Write a program to get a name and give welcome message using input()

###### 4. Write a program to get the n to the power 5. Take input as positive value.

##### 5. Accept age as input and returns the ouput as next year age.

In [ ]:
# range() function

**What happens when you multiply an integer or float by True? What happens when you multiply them by False?**
- How does the answer change if the numbers are positive or negative?
- What happens when you multiply a string by True? By False?

**Your goal is to determine what happens when you multiply a boolean by any of these data types. Specifically**

**Write a Python program to calculatethe length of a string**

#### Strings

In [ ]:
## Compare 2 string objects
str_1='Welcome to our Program'
str_2='Hello World'
str_3='Welcome to our Program'

In [ ]:
### use == operator to compare 2 string objects

In [ ]:
### join two string objects 
## use  + operator to join two string objects

In [ ]:
## use * operator to repeat the values in the string object
str_4='all programs'

In [ ]:
### membership operators--> in, not in
## To check whether a substring exists within a string or not
## check 'a' exists in str_4 or not

#### String methods

Methods	Description
    upper()	                 converts the string to uppercase
    lower()	                 converts the string to lowercase
    replace()	             replaces substring inside
    find()	                 returns the index of first occurrence of substring
    rstrip()	             removes trailing characters
    split()	                 splits string from left
    startswith()	         checks if string starts with the specified string
    isnumeric()	             checks numeric characters
    index()	                 returns index of substring

In [ ]:
string="This program has many more lines 89034 and write a new program of 123 lines to get new results"
## Count the word 'program' appeared in the given string object

### Conditional Statements 

                - if, if else, elif,nested if

### Conditional Statements

#1) if statements

#2) if-else statements

#3) elif statements

#4) Nested if-else statements

**Python if statement is one of the most commonly used conditional statements in programming languages. It decides whether certain statements need to be executed or not. It checks for a given condition, if the condition is true, then the set of code present inside the ” if ” block will be executed otherwise not.**

#syntax: if condition:
             
             ## statements

In [ ]:
# check the given number is less than 15

##### if-else statement 

evaluates the Boolean expression. If the condition is TRUE then, the code present in the “ if “ block will be executed otherwise the code of the “else“ block will be executed

Syntax:

If (EXPRESSION == TRUE):

        Statement (Body of the block)
        
else:

        Statement (Body of the block)

In [ ]:
# write a program to check whether a given number is positive or negative

#### elif statements

“elif” statement is used to check multiple conditions only if the given condition is false. It’s similar to an “if-else” statement and the only difference is that in “else” we will not check the condition but in “elif” we will check the condition.

Syntax:

if (condition):

        #Set of statement to execute if condition is true
elif (condition):

        #Set of statements to be executed when if condition is false and elif condition is true
else:

   #Set of statement to be executed when both if and elif conditions are false

In [ ]:
## Write a program to check whether a given number is positive or negative or zero.

#### Nested if-else statements
Nested “if-else” statements mean that an “if” statement or “if-else” statement is present inside another if or if-else block

if(condition):

           #Statements to execute if condition is true
           if(condition):
           
                    #Statements to execute if condition is true
           #end of nested if
           
#end of if

In [ ]:
### Write a program to check whether a given number is positive or negative or zero

#### Hands -on

In [ ]:
### Write a program to check whether a given number is even or odd

In [ ]:
# Write a program to check whether a person is eligible for voting or not. (accept age from user)

In [ ]:
#Write a program to check whether a number is divisible by 7 or not.

In [ ]:
## check whether the given number is of one digited or two digited or three digited or 
#more than three digited.

In [ ]:
#Find maximum number out of given three numbers

#### Loops
  - For loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.
Loop continues until we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation

For loop
#syntax: for i in iterbale:
             #statements

In [ ]:
# print 'hello' 3 times

#### While loop

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

##### syntax: while expression:

             #statements

In [ ]:
# print 'hello' 3 times

In [ ]:
# write a program to find the sum of n natural numbers

### Control statements (Continue, break and pass)
Control statements in python are used to control the order of execution of the program based on the values and logic

1) Break Statement:
The break statement is used to terminate the loop containing it, the control of the program will come out of that loop.

2) Continue Statement:
When the program encounters a continue statement, it will skip the statements which are present after the continue statement inside the loop and proceed with the next iterations.

3) Pass Statement:
Pass statement is python is a null operation, which is used when the statement is required syntactically

In [ ]:
## break
## stop the iteration when letter is 'a'

In [ ]:
### Continue
## print the values 1 to 10, skip the value 6.

In [ ]:
### pass

In [ ]:
#### Hands -on- Problems

Write a program that prompts the user to input a number and reverse its digits. For example, the reverse of 12345 is 54321; reverse of 5600 is 65.

Write programs to print following patterns :

1.
**********
**********
**********
**********
        
2.  
*
**
***
****
*****

In [ ]:
Write a program that display following output:

SHIFT
HIFTS
IFTSH
FTSHI
TSHIF
SHIFT

In [ ]:
assign_txt="This is the sentence with a number 56 here and 72 here"
# count how many times numbers occur in the given string object.

#### List

- An ordered sequence of values enclosed with []
- can be created by [] or list()
- mutable
- iterable
- containg multilpe data types

In [ ]:
# create a list of int values

In [ ]:
# create a list of string values

In [ ]:
# create a list of multiple data types

In [ ]:
### iterable

In [ ]:
list_5= [2,34,5,[56,81,[43,89],61],10]
#extract [43,89]

In [ ]:
# mutable

In [ ]:
list_5= [2,34,5,[56,81,[43,89],61],10]
#remove 81

In [ ]:
### split() method on string objects --> it will return list object
dt='12-08-2023'

In [ ]:
## apply +, * on list objects
ls1=[12,23,12,54]
ls2=[34,6,7,8]

### Hands -on- Problems

Write a Python program to sum all the items in a list.

Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

Write a program to print the numbers of a specified list after removing even numbers from a list

#### Tuple

- A tuple is a sequence of items
- contains multiple data types
- created by using () or tuple()
- iterables
- immutable

In [ ]:
# create tuple with multiple data type of elements

### Hands - on- Problems

In [ ]:
Write a Python program to reverse a tuple.

In [ ]:
Write a Python program to remove an item from a tuple

### Dictionary

- A collection of unordered set of key:value pairs

- create it by using {} or dict()

- keys are unique. values are accessed by using keys, not by index

- mutable

- iterable

In [ ]:
# create dict of integer values

In [ ]:
#create dict of string values

In [ ]:
#create dict of mixed data types

In [ ]:
#Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
#Expected output:

#{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
# zip() combine 2 more iterable into a single iterable paired together as tuple
# zip() --> generator function
dict(zip(keys,values))

In [ ]:
# Check if a value exists in a dictionary
#check if value 200 exists in the following dictionary.

sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
#Rename key of a dictionary
#Write a program to rename a key city to a location in the following dictionary.

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}